<% require 'open-uri' %>
<% require 'nokogiri' %>

<div class="container">
  <h1>HomePage</h1>
  <br>
  <div class="HN">
    <% url = "https://news.ycombinator.com/news" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>

    <table>
      <tr><strong>Hacker News Front Page</strong></tr>
      <% html_doc.search('.storylink').each do |element| %>
      <% unless element.children.text.include? "Ask HN" %>
        <tr>
          <td><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></td>
        <br>
        </tr>
      <% end %>
    </table>
  <% end  %>
  </div>

  <br>
  <div class="Economist">
    <% url = "https://www.economist.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>

    <table>
      <tr><strong>The Economist</strong></tr>
      <% html_doc.search('.headline-link').each do |element_2| %>
        <tr>
          <td><a href="https://www.economist.com/<%= element_2.attribute('href').value %>"><%= element_2.children.text %></a></td>
        <br>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

  <div class="TechCrunch">
    <% url = "https://techcrunch.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><strong>TechCrunch</strong></tr>
      <% html_doc.search('h3.mini-view__item__title').each do |element| %>
        <tr>
          <td><%= element.text %></td>
          <td><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></td>
        <br>
        </tr>
    </table>
  <% end  %>
  </div>
    <br>

    <div class="Bloomberg">
    <% url = "https://www.bloomberg.com/europe" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><strong>Bloomberg</strong></tr>
      <% html_doc.search('a').each do |element| %>
        <tr>
          <td><%= element.text %></td>
          <td><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></td>
        <br>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

      <div class="Accel">
    <% url = "https://www.accel.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><strong>Accel</strong></tr>
      <% html_doc.search('.top-of-mind-preview a').each do |element| %>
        <tr>
          <td><a href="https://www.accel.com<%= element.attribute('href').value %>"><%= element.children.text %></a></td>
        <br>
        </tr>
    </table>
  <% end  %>
  </div>









</div>


