<% require 'open-uri' %>
<% require 'nokogiri' %>

<div class="container text-justify backg">
  <h1 class="text-center">VC Insights</h1>
  <br>
  <img src="https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80" alt="">
  <br>
  <p> Many Venture Capital firms post insightful content, inclduing reports on industries and analaysis of future trends. This content is useful reading for both investors and founders alike. Below we have added a quick list of links to the content that some of the worlds most famous VCs are posting </p>



  <div class="Accel">
    <% url = "https://www.accel.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Accel</h3></tr>
      <% counter = 0 %>
      <% html_doc.search('.top-of-mind-preview a').each do |element| %>
      <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="https://www.accel.com<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a> <br> </td>
          <% end %>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

  <div class="Andreessen Horowitz">
    <% url = "https://a16z.com/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Andreessen Horowitz</h3></tr>
       <% counter = 0 %>
      <% html_doc.search('.post-popular h3 a').each do |element| %>
      <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="<%= element.attribute('href').value %>"> <%= counter %>. <%= element.children.text %></a><br></td>
          <% end %>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

  <div class="Bessemer Venture Partners">
    <% url = "https://www.bvp.com/atlas" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Bessemer Venture Partners</h3></tr>
      <% counter = 0 %>
      <% html_doc.search('.post-title').each do |element| %>
      <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="https://www.bvp.com<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a> <br> </td>
          <% end %>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

  <div class="GGV Capital">
    <% url = "https://www.ggvc.com/engage/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>GGV Capital</h3></tr>
       <% counter = 0 %>
      <% html_doc.search('.ct-link').each do |element| %>
        <tr>
            <% unless element.children.text.blank? %>
                <% counter += 1 %>
                <td><a href="<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a> <br></td>
            <% end %>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

<div class="Greylock Partners">
    <% url = "https://greylock.com/category/greymatter/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Greylock partners</h3></tr>
      <% counter = 0 %>
      <% html_doc.search('.post-article__info-title a').each do |element| %>
      <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a><br></td>
          <% end %>
        </tr>
    </table>
  <% end  %>
</div>
  <br>

<div class="Index Ventures">
    <% url = "https://www.indexventures.com/perspectives/category/insights/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Index Ventures</h3></tr>
      <% counter = 0 %>
      <% html_doc.search('.index-grid__list-item a').each do |element| %>
      <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="https://www.indexventures.com<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a><br></td>
          <% end %>
        </tr>
    </table>
  <% end  %>
</div>
  <br>

<div class="Sequoia">
    <% url = "https://www.sequoiacap.com/build/" %>

    <% html_file = open(url).read %>
    <% html_doc = Nokogiri::HTML(html_file) %>
    <table>
      <tr><h3>Sequoia</h3></tr>
      <% counter = 0 %>
      <% html_doc.search('.build a').each do |element| %>
        <% counter += 1 %>
        <tr>
          <% if counter < 16 %>
            <td><a href="https://www.sequoiacap.com<%= element.attribute('href').value %>"><%= counter %>. <%= element.children.text %></a> <br></td>
           <% end %>
        </tr>
    </table>
  <% end  %>
  </div>
  <br>

</div>


