<% scraper = Scraper.new %>
<% require 'open-uri' %>
<% require 'nokogiri' %>

<div class="container backg">
  <h1 class="text-center">Inspiration</h1>
  <br>
  <p> If you read some of the founder interviews on the site, you’ll see many of them talking about choosing a problem that you’re willing to spend the next ten years on. But how do you find the problems you want to spend the next ten years of life on? Below are links to some of the latest from some of the best blogs about tech, business and the world at large, to get you thinking </p>

<div class="row">
  <div class="column">
    <main>
      <div class="AVC">
        <ol class="gradient-list">
            <h3>AVC </h3>
            <p> This is a blog written by Fred Wilson, the founder of Union Square Ventures. He is a prominent Venture Capitalist and he likes to post his personal thoughts on here. </p>
            <% links = scraper.scrape('https://avc.com/', '.text-black a') %>
            <% links.each do |element| %>
                  <li><a href="<%= element.attributes["href"].value %>"><%= element.children.text %></a></li> <br>
                  <% end %>
        </ol>
      </div>
      <br>
    </main>
  </div>


  <div class="column">
    <main>
      <div class="Stratechery">
        <ol class="gradient-list">
            <h3>Stratechery</h3>
            <p> Written by Ben Thompson. He has previously worked for Apple and Microsoft, among other companies, and now writes for the blog full time. The weekly articles (listed here) are free.  </p>
            <% links = scraper.scrape('https://stratechery.com/', ' .site-main .entry-title a') %>
            <% links.each do |element| %>
                   <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end  %>
        </ol>
      </div>
    <br>
    </main>
  </div>
</div>

<div class="row">
  <div class="column">
    <main>
      <div class="Andreessen Horowitzl">
        <ol class="gradient-list">
            <h3>Andreessen Horowitz</h3>
            <% links = scraper.scrape('https://a16z.com/', '.post-popular h3 a') %>
            <% links.each do |element| %>
                   <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end  %>
        </ol>
      </div>
      <br>
    </main>
  </div>

  <div class="column">
    <main>
      <div class="Greylock Partners">
        <ol class="gradient-list">
            <h3>Greylock Partners</h3>
            <% links = scraper.scrape('https://greylock.com/category/greymatter/', '.post-article__info-title a') %>
            <% links.each do |element| %>
                   <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end  %>
        </ol>
      </div>
      <br>
    </main>
  </div>
</div>


<script>
var linkList = document.querySelectorAll('main a');

for(var i in linkList){
 linkList[i].setAttribute('target', '_blank');
}
</script>
