<main>
  <div class="Accel">
    <% url = "https://www.accel.com/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Accel</h3>
        <% counter = 0 %>
        <% html_doc.search('.top-of-mind-preview a').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="https://www.accel.com<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="Andreessen Horowitzl">
    <% url = "https://a16z.com/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Andreessen Horowitz</h3>
        <% counter = 0 %>
        <% html_doc.search('.post-popular h3 a').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="Bessemer Venture Partners">
    <% url = "https://www.bvp.com/atlas" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Bessemer Venture Partners</h3>
        <% counter = 0 %>
        <% html_doc.search('.post-title').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="https://www.bvp.com<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="GGV Capital">
    <% url = "https://www.ggvc.com/engage/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>GGV Capital</h3>
        <% counter = 0 %>
        <% html_doc.search('.ct-link').each do |element| %>
            <% unless element.children.text.blank? %>
                <% counter += 1 %>
               <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="Greylock Partners">
    <% url = "https://greylock.com/category/greymatter/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Greylock Partners</h3>
        <% counter = 0 %>
        <% html_doc.search('.post-article__info-title a').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="Index Ventures">
    <% url = "https://www.indexventures.com/perspectives/category/insights/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Index Ventures</h3>
        <% counter = 0 %>
        <% html_doc.search('.index-grid__list-item a').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="https://www.indexventures.com<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>

<main>
  <div class="Sequoia">
    <% url = "https://www.sequoiacap.com/build/" %>
    <ol class="gradient-list">
      <% html_file = open(url).read %>
      <% html_doc = Nokogiri::HTML(html_file) %>
        <h3>Sequoia</h3>
        <% counter = 0 %>
        <% html_doc.search('.build a').each do |element| %>
          <% counter += 1 %>
            <% if counter < 16 %>
               <li><a href="https://www.sequoiacap.com<%= element.attribute('href').value %>"><%= element.children.text %></a></li> <br>
            <% end %>
        <% end  %>
    </ol>
  </div>
  <br>
</main>
